.b-add-item {
	&__header {
		padding: 55px 0;

		p {
			width: 480px;
			margin: 0 0 25px;
			line-height: 1.5;
		}

		&__link {
			text-transform: uppercase;
			font-weight: bold;
		}
	}

	&__name-form {
		margin-bottom: 10px;

		.no-active & {
			display: none;
		}
	}

	&__title {
		font-weight: bold;
		font-size: 32px;
		margin: 0 0 30px;
	}

	&__add-realise {
		float: right;
	}

	&__block {
		padding: 30px 0;

		&.is-grey {
			border-top: 1px solid #E5E5E5;
			background: #F7F7F7;
		}

		&__title {
			font-size: 26px;
			font-weight: bold;
			color: #1D3BA6;
			margin-bottom: 32px;
			transition: color .4s;

			.no-active & {
				color: #B2B2B2;
				margin-bottom: 0;
			}

			&.is-grey {
				color: #B2B2B2;
			}

			&.is-black {
				color: #323232;
				margin-right: 40px;
			}
		}
	}

	&__artists, &__albums {
		min-height: 0;
		transition: 0.2s min-height;

		&.is-search {
			min-height: 100px;
			background: url(../images/loader.gif) no-repeat center;
		}

		&__inner {
			.clearfix;
		}
	}

	&__search-block {
		&.has-border {
			border-top: 1px solid #E5E5E5;
		}
	}

	&__albums {

		&__item {
			width: 235px;
			height: 235px + 70px;
			overflow: hidden;

			> .b-item__img {
				width: 235px;
				height: 235px;
			}

			&__title {
				border-bottom: 1px solid #f2f2f2;
				border-left: 1px solid #f2f2f2;
				border-right: 1px solid #f2f2f2;
				height: 69px;
				width: 233px;
				display: table;
				color: #323232;
				font-weight: bold;
			}

			&__inner {
				display: table-cell;
				vertical-align: middle;
				padding: 0 25px;
			}
		}
	}

	&__info {
		.clearfix;
		position: relative;

		&__left {
			float: left;
			width: 250px;
			margin-right: 35px;
		}

		&__right {
			overflow: hidden;
		}

		&__center {
			float: left;
			width: 320px;
			margin-right: 35px;
		}

		&__img {
			display: block;
		}

		&__description {
			max-width: 560px;
		}

		&__links {
			margin-top: 30px;

			&__link {
				text-transform: uppercase;
				font-weight: bold;
				margin-bottom: 5px;
				display: inline-block;

				> .icon-arrow-right {
					display: inline-block;
					vertical-align: middle;
					margin-right: 5px;
				}
			}
		}

		&__delete {
			position: absolute;
			right: 0;
			top: 5px;
			color: #B2B2B2;
			font-size: 1.6em;

			&:hover {
				color: #323232;
			}
		}

		&__currency-input {
			width: 80%;
			margin-right: 10px;
			display: inline-block;
		}

		&__currency {
			color: #B2B2B2;
		}

		&__textarea {
			resize: none;
			margin: 0;
			height: 160px;
		}
	}

	&__info-form {
		margin-bottom: 40px;
	}
}