.b-cart {
	&__item {
		background: #fcfcfc;
		border-bottom: 1px solid #e6eaec;
		padding: 8px 0 40px;

		.b-page__params {
			float: right;
		}
	}

	&__sum {
		text-align: right;
		padding-bottom: 70px;

		&__link {
			color: #1D3BA6;
			margin-right: 30px;
			text-transform: uppercase;
			font-weight: bold;
			height: 40px;
			line-height: 40px;
			display: inline-block;

			&:hover {
				color: #1338BA;
			}
		}
	}

	&__empty {
		text-align: center;
		padding-bottom: 150px;

		&__text {
			padding: 150px 0 30px;
		}
	}
}
.b-big-item-list {
	margin: 30px 0 60px;
	border-bottom: 1px solid #f2f2f2;

	&__el {
		border-top: 1px solid #f2f2f2;
		padding: 30px 0;
		height: 122px;

		&:nth-child(2n+2) {
			background: #F5F6F7;
		}

		&.is-inactive {
			opacity: 0.4;
		}

		&__checkbox {
			padding: 0 10px 0 20px;
			height: 100%;
			float: left;
		}

		&__cover {
			width: 122px;
			height: 100%;
			float: left;

			&__img {
				width: 100%;
			}
		}

		&__name-and-ratings {
			float: left;
			height: 100%;
			margin: 0 46px 0 16px;
			position: relative;
			width: 230px;
		}

		&__title {
			font-weight: bold;
			margin-bottom: 5px;

			&__link {
				color: #323232;

				&:hover {
					color: #1338BA;
				}
			}
		}

		&__artist {
			color: #b2b2b2;
			font-weight: bold;
			text-transform: uppercase;
		}

		&__bottom {
			left: 0;
			bottom: 0;
			position: absolute;
			width: 100%;
		}

		&__user {
			text-transform: uppercase;
			font-weight: bold;
			color: #B2B2B2;
		}

		&__price-and-count {
			width: 170px;
			float: right;
			position: relative;
			height: 100%;
			margin-right: 30px;

			.icon-plus {
				display: inline-block;
				vertical-align: middle;
				font-size: 8px;
			}
		}

		&__price {
			font-weight: bold;
			min-width: 50px;
			float: left;
			margin-right: 10px;
		}

		&__close {
			width: 30px;
			text-align: right;
			float: right;
			padding: 0 22px;
			color: #B2B2B2;

			&:hover {
				color: #1338BA;
			}

			> .icon-delete {
				font-size: 16px;
			}
		}
	}
}

.b-cart-form {
	.clearfix();
	padding: 40px 0;

	&__half {
		margin: 0 10% 0 8%;
		width: 30%;
		float: left;

		&:last-child {
			margin-right: 0;
		}
	}

	&__text {
		width: 410px;
		float: left;
	}
}

.b-cart-submit {
	background: #FCFCFC;
	border-bottom: 1px solid #E6EAEC;
	.clearfix();
	padding: 40px 0 35px;
	margin-bottom: 30px;

	&__block {
		width: 22%;
		margin-right: 3%;
		float: left;

		&__title {
			color: #B2B2B2;
			text-transform: uppercase;
			font-weight: bold;
			margin-bottom: 20px;
		}

		&__text {

		}
	}
}
.b-cart-submit-items {
	.b-item-list__el__info {
		width: 170px;
	}
}