.b-deals {
	font-weight: bold;
	padding: 30px 0 100px;
	display: none;

	&.is-showed {
		display: block;
	}

	&__head {
		color: #B2B2B2;
		text-transform: uppercase;
		line-height: 70px;
		height: auto !important;
	}

	&__number {
		text-align: center;
		float: left;
		width: 125px;
		margin-right: 17px;
	}

	&__name {
		width: 390px;
		margin-right: 17px;
		float: left;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	&__date {
		width: 130px;
		margin-right: 17px;
		float: left;
	}

	&__status {
		width: 135px;
		margin-right: 17px;
		float: left;
	}

	&__send-date {
		margin-right: 17px;
		overflow: hidden;
		height: 52px;

		> .icon-angle-down, > .icon-angle-up {
			float: right;
			display: none;
			color: #B2B2B2;
			font-size: 12px;
		}

		.is-selected & > .icon-angle-up {
			display: block;
		}
		.is-selected & > .icon-angle-down {
			display: none !important;
		}
	}

	&__row {
		clear: both;
		border-bottom: 1px solid #F2F2F2;
		line-height: 52px;
		display: block;
		color: #323232;

		.no-touch &:hover {
			color: #1D3BA6;

			.b-deals__send-date {
				> .icon-angle-down {
					display: block;
				}
			}
		}
	}

	&__el {
		transition: box-shadow .4s;
		position: relative;

		&:nth-child(2n+3) {
			background: #F7F7F7;
		}

		&.is-selected {
			z-index: 1;
			box-shadow: 0 1px 3px rgba(0,0,0,.15);
		}

		&__actions {
			position: absolute;
			top: 114px;
			right: 30px;
			background: #FFF;
			width: 220px;
			text-transform: uppercase;

			&.is-open-list {
				box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
			}

			&__current {
				padding: 9px 20px;
				display: block;
				line-height: 20px;
				color: #323232;
				border: 1px solid #B2B2B2;

				> .icon-angle-down, > .icon-angle-up {
					float: right;
					color: #B2B2B2;
					font-size: 12px;
				}

				> .icon-angle-up {
					display: none;
				}

				.is-open-list & {
					color: #1D3BA6;
					border-color: #fff;

					> .icon-angle-down {
						display: none;
					}

					> .icon-angle-up {
						display: block;
					}
				}
			}

			&__options {
				display: none;

				.is-open-list & {
					display: block;
				}

				&__el {
					display: block;
					padding: 16px 21px;
					min-height: 18px;
					border-top: 1px solid #F7F7F7;
					color: #323232;

					.no-touch &:hover {
						color: #1038BA;
					}

					> .icon-arrow-right {
						float: right;
						position: relative;
						top: 2px;
					}
				}
			}
		}
	}

	&__item {
		overflow: hidden;
		height: 0;
		position: relative;
		transition: height .4s;

		.no-overflow & {
			overflow: visible;
		}

		.is-selected & {
			height: 125px + 30px + 30px;
			border-bottom: 1px solid #F2F2F2;
		}

		&__block {
			height: 125px;
			padding: 30px 0;
		}

		&__cover {
			width: 125px;
			display: block;
		}

		&__info {
			position: relative;
			white-space: normal;

			&__user {
				position: absolute;
				bottom: 30px;
				left: 0;
				color: #B2B2B2;
				text-transform: uppercase;

				> .icon-user {
					font-size: 18px;
					margin-right: 10px;
					display: inline-block;
					vertical-align: middle;
				}
			}

			&__artist {
				color: #B2B2B2;
				text-transform: uppercase;
				margin-top: 5px;
			}
		}

		&__spec {
			position: relative;

			&__dt {
				width: 24px;
				color: #B2B2B2;
				float: left;
			}

			&__dd {
				text-transform: uppercase;
				margin-bottom: 5px;
			}

			&__message {
				position: absolute;
				bottom: 30px;
				left: 0;
			}
		}

		&__price {
			margin-right: 10px;
		}

		&__count {
			font-weight: normal;
		}
	}
}