.b-faq {
	.clearfix();

	&__title {
		font-size: 32px;
		font-weight: bold;
		padding: 50px 0;
		line-height: 1;
	}

	&__questions {
		width: 380px;

		&__el {
			border-top: 1px solid #E5E5E5;
			padding: 25px 0;
			font-weight: bold;
			font-size: 15px;
			display: block;
			color: #323232;

			&:last-child {
				border-bottom: 1px solid #E5E5E5;
			}

			.no-touch &:hover {
				color: #1038BA;
			}

			&.is-current {
				color: #1038BA;

				.icon-angle-right {
					display: block;
				}
			}

			> .icon-angle-right {
				display: none;
				margin-top: 3px;
				font-size: 12px;
				float: right;
			}
		}
	}

	&__answers {
		float: right;
		max-width: 480px;
		position: relative;

		&__el {
			position: absolute;
			top: 0;
			left:0;
			width: 100%;
			opacity: 0;
			transition: opacity .4s;

			&.is-current {
				position: relative;
				opacity: 1;
			}
		}
	}

	&__form {
		border-top: 1px solid #F2F2F2;
		margin-top: 60px;

		&__title {
			font-weight: bold;
			color: #B2B2B2;
			padding: 60px;
			text-align: center;
			font-size: 26px;
		}

		&__inner {
			width: 720px;
			margin: 0 auto;
			.clearfix();
		}

		&__half {
			width: 340px;
			margin: 0 10px 20px;
			float: left;
		}

		&__textarea {
			margin: 0 10px 31px;
			clear: both;
		}

		&__button {
			text-align: center;
			padding-bottom: 60px;
		}
	}
	
	&__bottom-link {
		border-top: 1px solid #F2F2F2;
		color: #B2B2B2;
		padding: 24px;
		font-weight: bold;
		background: #FCFCFC;
		display: block;
		text-align: center;
		text-transform: uppercase;

		> .icon-arrow-right {
			display: inline-block;
			vertical-align: middle;
		}
	}
}