.b-main-header {
	height: 800px;
	background: #41404A center / cover;
	margin-bottom: 90px;
	color: #fff;
	text-align: center;
	position: relative;

	&__title {
		text-transform: uppercase;
		padding: 267px 0 46px;
		font-size: 92px;
		font-weight: bold;
		font-family: "Eurofurence",sans-serif;
	}

	&__description {
		font-size: 20px;
		line-height: 1.2;
		font-weight: bold;
		margin-bottom: 100px;
	}

	&__search {
		position: relative;
		max-width: 900px;
		padding: 0 50px;
		margin: 0 auto;

		&__field {
			font-size: 20px;
			font-weight: bold;
			border: 2px solid #fff;
			border-radius: 6px;
			background: transparent;
			box-sizing: border-box;
			height: 64px;
			width: 100%;
			color: #fff;
			padding: 16px 30px;
		}

		&__button {
			font-size: 16px;
			background: transparent;
			height: 64px;
			width: 64px;
			right: 50px;
			top:0;
			position: absolute;
			text-align: center;
			line-height: 64px;
			padding: 0;
			margin: 0;
			color: #fff;
			border: 0;
		}
	}

	&__cover-link {
		position: absolute;
		bottom: 40px;
		right: 40px;
		color: #fff;
		line-height: 1.2;
		opacity: 0.5;
		text-align: right;
		font-weight: bold;
		max-width: 200px;

		&__artist {
			padding-top: 11px;
			text-transform: uppercase;
		}

		.no-touch &:hover {
			opacity: 1;
		}
	}
}

.b-index {
	width: 1000px;
	margin: 0 auto;

	&__type {
		font-weight: bold;
		font-size: 26px;
		color: #B2B2B2;
		margin-bottom: 25px;
	}
	
	&__selector {
		float: right;

		&__link {
			background: #fff;
			color: #F05F6A;
			padding: 0 16px;
			height: 38px;
			line-height: 38px;
			border: 1px solid #F05F6A;
			float: right;
			text-decoration: none;

			&.is-active {
				background: #F05F6A;
				color: #fff;
			}
		}
	}

	&__collection {
		margin-bottom: 33px;
		border-bottom: 1px solid #F2F2F2;

		&__line {
			.clearfix();
		}

		&__item {
			float: left;

			.b-item__text {
				border-bottom: 0;
				border-right: 0;
			}

			&.is-right-border {
				.b-item__text {
					border-right: 1px solid #F2F2F2;
				}
			}
		}
	}

	&__blog {
		position: relative;
		overflow: hidden;

		&__background {
			background: url(../images/blog.svg) top center no-repeat;
			height: 100%;
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
		}

		&__inner {
			position: relative;
			z-index: 1;
			padding: 5px 0 60px;
		}

		&__content {
			background: #fff;
			border: 1px solid #f2f2f2;
			padding: 27px;
			.clearfix();
		}

		&__text {
			width: 50%;
			box-sizing: border-box;
			padding-right: 60px;
			line-height: 1.64;
			float: left;

			&__title {
				margin-bottom: 25px;
				line-height: 1.2;
				font-size: 26px;
				font-weight: bold;
				display: block;
				color: #323232;

				.no-touch &:hover {
					color: #1338BA;
				}
			}
		}

		&__posts {
			overflow: hidden;

			&__post {
				padding: 20px 0;
				color: #323232;
				display: block;
				border-bottom: 1px solid #f2f2f2;

				&:first-child {
					padding-top: 0;
				}
				&:last-child {
					border-bottom: 0;
					padding-bottom: 0;
				}

				&__avatar {
					> img {
						display: block;
					}
					float: left;
				}

				&__text {
					margin-left: 100px;
				}

				&__title {
					font-weight: bold;
					color: #323232;

					.no-touch &:hover {
						color: #1338BA;
					}
				}

				&__data {
					font-size: 11px;
					color: #B2B2B2;
					margin-bottom: 10px;

					> [class^="icon"] {
						font-size: 16px;
						vertical-align: middle;
						margin: 0 3px 0 22px;
					}
				}
			}
		}
	}

	&__items-list {
		background: #F7F7F7;
		overflow: hidden;

		&__list {
			width: 3260px; // 163px * 20
			height: 163px;

			&__item {
				> img {
					display: block;
				}
				float: left;
			}
		}

		&__title {
			line-height: 78px;
			height: 78px;
			font-weight: bold;
			text-align: center;
			color: #B2B2B2;
			font-size: 26px;
		}
	}
}

@media (max-width: @middleViewMaxWidth) {
	.b-main-header {
		height: 500px;

		&__title {
			padding-top: 130px;
			font-size: 56px;
		}

		&__description {
			font-size: 16px;
			margin-bottom: 70px;
		}

		&__search {
			max-width: 700px;
		}
	}
}