.b-market {
	width: 1400px;
	padding: 30px 0 0 0;
	margin: 0 auto;
	.clearfix();

	&__menu {
		float: left;
		width: 253px;
		border-left: 3px solid #F7F7F7;
		border-right: 1px solid #f2f2f2;

		&__links {
			box-shadow: 0 2px 2px rgba(0,0,0,.15);
		}

		&__link {
			display: block;
			height: 39px;
			line-height: 38px;
			padding: 0 18px;
			background: #F7F7F7;
			color: #323232;
			text-transform: uppercase;
			font-weight: bold;
			
			&.is-collection {
				.is-collection-open & {
					> [class^="icon"] {
						color: #fff;
					}
					background: #17B257 !important;
					color: #fff !important;
				}
			}

			&.is-market {
				.is-market-open & {
					> [class^="icon"] {
						color: #fff;
					}
					background: #F44956 !important;
					color: #fff !important;
				}
			}

			> [class^="icon"] {
				color: #B2B2B2;
				font-size: 20px;
				vertical-align: middle;
				margin-right: 10px;
			}

			.no-touch &:hover {
				background: darken(#F7F7F7, 5%);
			}
		}

		.is-collection-open & {
			border-left-color: #17B257;
		}

		.is-market-open & {
			border-left-color: #F44956;
		}

		&__form {
			padding: 6px 0 0;

			&__layer {
				padding: 30px 18px 25px;
				border-bottom: 1px solid #f2f2f2;

				&.is-contains-full-checkboxes {
					position: relative;
					padding-top: 49px;

					.b-form__title {
						z-index: 1;
					}
				}

				&.is-boxes-open {
					z-index: 2;

					.icon-angle-right {
						display: none;
					}

					.icon-angle-left {
						display: inline;
					}
				}
			}

			.is-contains-full-checkboxes .b-form__title {
				position: absolute;
				top: 18px;
				left: 0;
				padding: 0 18px;
				width: 100%;
				box-sizing: border-box;
			}

			&__full-checkboxes {
				display: none;
				position: absolute;
				padding: 52px 18px 25px 23px;
				left: -5px;
				top: -3px;
				background: #fff;
				min-width: 485px;
				box-sizing: border-box;
				box-shadow: 0 2px 5px rgba(0,0,0,.15);

				&__half {
					width: 50%;
					float: left;
				}
			}

			&__button {
				float: right;
				border-radius: 3px;
				border: 1px solid #E5E5E5;
				color: #B2B2B2;
				text-align: center;
				height: 24px;
				width: 24px;
				line-height: 24px;
				transform: translateY(-3px);

				.no-touch &:hover {
					border: 1px solid #B2B2B2;
				}

				.icon-angle-left {
					display: none;
				}
			}
		}
	}

	&__results {
		margin-left: 280px;
		overflow: hidden;
		padding-bottom: 30px;

		&__view {
			padding-left: 30px;
			float: right;

			&__link {
				height: 38px;
				width: 38px;
				line-height: 38px;
				text-align: center;
				border: 1px solid #E5E5E5;
				color: #B2B2B2;
				float: left;
				font-size: 22px;
				text-decoration: none;

				&.is-active {
					color: #323232;
				}

				&:first-child {
					border-right: 0;
				}
			}
		}

		&__search-field {
			overflow: hidden;
		}

		&__items {
			overflow: hidden;
			padding: 40px 0 0 28px;
		}

		&__item {
			margin: 0 20px 20px 0;
			float: left;

			.b-item__button {
				position: relative;
			}

			&:nth-child(4n+4) {
				margin-right: 0;
			}

			.no-touch &:hover {
				box-shadow: 0 0 5px rgba(0,0,0,.15);
			}
			
			.is-items-as-list & {
				float: none;
				width: auto;
				display: block;
				padding: 30px;
				min-height: 120px;
				box-shadow: none !important;
				margin: 0;
				overflow: hidden;

				.b-item__img {
					width: 120px;
					height: 120px;
					margin-right: 15px;
					float: left;
				}

				.b-item__text {
					padding: 0;
					border: 0;
					width: 290px;
					max-width: none;
					margin-right: 15px;
					float: left;
				}

				.b-item__text__name {
					padding-bottom: 2px;
				}

				.b-item__overlay {
					color: #323232;
					overflow: hidden;
					position: static;
					width: auto;
					opacity: 1;
					background: transparent;
					padding: 0;
					height: auto;
				}

				.b-item__overlay__button-wrapper {
					position: static;
					float: right;
				}

				.b-item__overlay__sym {
					color: #B2B2B2;
				}

				.b-item__button {
					border-color: #17b257;
					color: #17b257;
					transition: color .4s, background-color .4s;
				}

				.b-btn__inner {
					background: #17BF57;
					color: #fff;
					font-size: 28px;
				}
				
				&:nth-child(odd) {
					background: #F7F7F7;
				}
			}
		}
	}

	.b-form__title {
		margin-bottom: 14px;
	}
}

@media (max-width: @middleViewMaxWidth) {
	.b-market {
		width: 1000px;

		&__results {
			&__items {
				padding-left: 0;

				&.is-items-as-list {
					.b-market__results__item {
						padding: 20px;

						.b-item__text {
							width: 240px;
						}

						.b-item__button {
							border: 1px solid #17B257;
							height: 40px;
							line-height: 40px;
							padding: 0px 25px;
						}
					}
				}
			}

			&__item {
				width: 165px;

				> .b-item__img {
					height: 165px;
				}

				.b-item__overlay {
					width: 165px;
					height: 165px;
					padding: 15px;
					font-size: 10px;
				}

				.b-item__overlay__button-wrapper {
					bottom: 15px;
					right: 15px;
					left: auto;
				}

				.b-item__button {
					border: 0;
					padding: 0;
					line-height: 1.1;
					height: auto;
				}

				.b-item__text {
					padding: 15px 10px 0px;
					height: 60px;
				}

				.b-item__text__name {
					padding-bottom: 5px;
				}
			}
		}
	}
}