@leftWidth: 330px;
@rightWidth: 1000px - @leftWidth - 2px;

.b-messages {
	min-height: inherit;
	border-right: 1px solid #F2F2F2;

	&__title {
		font-size: 26px;
		font-weight: bold;
		color: #B2B2B2;
		border-bottom: 1px solid #F2F2F2;
		height: 116px;
		line-height: 116px;
	}

	&__left {
		min-height: inherit;
		width: @leftWidth;
		float: left;
		border-right: 1px solid #F2F2F2;
	}

	&__right {
		position: relative;
		min-height: inherit;
		margin-left: @leftWidth + 1px;
	}

	&__dialogs {

		&__el {
			border-top: 1px solid #F2F2F2;
			padding: 30px 30px 30px 0;
			height: 55px;
			display: block;
			color: #323232;

			&:first-child {
				border-top: 0;
			}

			&.is-current {
				background: #F7F7F7;
			}

			&.is-new {
				>.b-messages__dialogs__el__message {
					font-weight: bold;
				}
			}

			&__img {
				width: 55px;
			}

			&__img-wrapper {
				float: left;
			}

			&__name {
				margin-left: 76px;
				font-weight: bold;
				text-transform: uppercase;
				margin-bottom: 16px;
			}

			&__date {
				float: right;
				color: #B2B2B2;
				font-size: 11px;
			}

			&__message {
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				margin-left: 76px;
			}
		}

		.b-scroll {
			height: inherit;
			width: @leftWidth + 20px;

			&__inner {
				width: @leftWidth;
			}
		}
	}

	&__interlocutor {
		padding: 30px 25px;
		border-bottom: 1px solid #F2F2F2;
		position: relative;

		&__actions {
			z-index: 1;
			right: 25px;
			top: 30px;
			position: absolute;
			background:  #FFF;
			box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
			visibility: hidden;
			width: 220px;

			&.is-visible {
				visibility: visible;
			}

			&__option {
				display: block;
				padding: 16px 21px;
				min-height: 18px;
				border-bottom: 1px solid #F7F7F7;
				color: #323232;

				.no-touch &:hover {
					color: #1038BA;
				}
			}
		}

		&__name {
			font-size: 26px;
			font-weight: bold;
			color: #323232;
			line-height: 56px;
		}

		&__avatar {
			margin-right: 30px;
			float: left;
			width: 56px;
			height: 56px;

			&__img {
				width: 100%;
			}
		}

		&__open-actions-button {
			margin-top: 6px;
			float: right;
			width: 38px;
			height: 40px;
			text-align: center;
			line-height: 40px;
			color: #B2B2B2;
			border: 1px solid #B2B2B2;
			border-radius: 4px;
			transition: color .3s, border-color .3s;

			.no-touch &:hover {
				color: #323232;
				border-color: #323232;
			}
		}
	}

	&__deal {
		padding: 30px;
		box-shadow: 0 2px 2px rgba(0,0,0,.15);

		&__cover {
			width: 120px;
			margin-right: 17px;
			float: left;

			&__img {
				width: 100%;
			}
		}

		&__content {
			overflow: hidden;
		}

		&__title {
			font-weight: bold;
			line-height: 1.2;
			margin-bottom: 5px;
		}

		&__artist {
			color: #B2B2B2;
			text-transform: uppercase;
			font-weight: bold;
			margin-bottom: 30px;
		}

		&__right-button {
			float: right;
			margin-left: 17px;
		}

		&__props {
			font-weight: bold;
			text-transform: uppercase;

			&__left {
				float: left;
				width: 165px;
				margin-right: 10px;
			}

			&__dt {
				color: #B2B2B2;
				float: left;
				width: 20px;
				margin: 0 15px 0 0;
			}

			&__dd {
				margin-bottom: 5px;
			}

			&__right {
				.b-messages__deal__props__dt {
					width: 90px;
				}
			}
		}
	}

	&__message {
		padding: 15px 30px 15px 0;
		margin-left: 30px;
		min-height: 56px;
		border-bottom: 1px solid #F7F7F7;

		.is-big-height & {
			padding: 30px 30px 30px 0;
		}

		&__avatar {
			width: 56px;
			height: 56px;
			float: left;
			margin-right: 20px;

			&__img {
				width: 100%;
			}
		}

		&__text {
			color: #323232;
			overflow: hidden;
			margin-top: 10px;
		}

		&__name {
			text-transform: uppercase;
			font-size: 12px;
			font-weight: bold;
		}

		&__time {
			font-size: 11px;
			float: right;
			color: #B2B2B2;
		}
	}

	&__dialog {

		.b-scroll {
			height: inherit;
			width: @rightWidth + 20px;

			&__inner {
				width: @rightWidth;
			}
		}
	}

	&__warning {
		color: #9a9a9a;
		font-size: 11px;
		text-align: center;
		padding: 30px;
	}

	&__new-message {
		padding: 15px 30px;
		background: #fff;
		border-top: 1px solid #F2F2F2;
		box-sizing: border-box;

		.is-big-height & {
			padding: 30px;
		}

		textarea {
			resize: none;
			border: 1px solid #E5E5E5;
			padding: 10px;
			height: 80px;
			box-sizing: border-box;
			width: 100%;
			font-family: "Open Sans", Arial, sans-serif;
			font-size: 14px;
			line-height: 1.2;
			color: #323232;
			margin-bottom: 15px;

			.is-big-height & {
				margin-bottom: 30px;
			}

			&::placeholder {
				color: #B2B2B2;
			}
		}

		.b-btn {
			float: right;
		}
	}
}