.b-release {
	background: #F7F7F7;
	cursor: pointer;
	width: 50%;
	float: left;
	border-top: 1px solid #E6EAEC;
	box-sizing: border-box;

	&.is-active {
		background: #FCFCFC;
	}

	&:nth-child(2n+1) {
		border-right: 1px solid #E6EAEC;

		.b-release__inner {
			float: right;
			padding-right: 40px;
			padding-left: 40px;
		}
	}

	&:hover {
		background: #FCFCFC;
	}

	&__container {
		.clearfix();
		border-bottom: 1px solid #E6EAEC;
	}

	&__inner {
		float: left;
		width: 500px - 40px;
		padding: 35px 0 60px 40px;
	}

	&__title {
		font-size: 26px;
		font-weight: bold;
		color: #B2B2B2;
		margin-bottom: 30px;

		.is-active & {
			color: #1D3BA6;
		}
	}

	&__comment {
		height: 130px !important;
		resize: none !important;
	}

	&__tracks {
		clear: both;
		background: #F7F7F7;
		border-top: 1px solid #E6EAEC;
		padding: 35px 0 60px;

		&__list {

		}
	}

	&__track {
		.clearfix();
		margin-bottom: 30px;

		&:last-child {
			.b-release__track__num__text {
				display: none;
			}

			.b-release__track__add {
				display: block;
				color: #B2B2B2;
				font-size: 14px;
			}
		}

		&__add {
			display: none;
		}

		&__num {
			width: 50px;
			float: left;
			font-size: 18px;
			font-weight: bold;
			line-height: 60px;
			color: #B2B2B2;
		}

		&__artist {
			float: left;
			width: 300px;
		}

		&__dash {
			float: left;
			width: 38px;
			line-height: 60px;
			text-align: center;
			font-size: 18px;
			color: #B2B2B2;
		}

		&__album {
			width: 390px;
			float: left;
			margin-right: 40px;
		}

		&__minutes, &__seconds {
			width: 80px;
			float: left;
		}

		&__dots {
			float: left;
			width: 20px;
			text-align: center;
			line-height: 60px;
			font-size: 18px;
			color: #B2B2B2;
		}
	}

	&__footer {
		padding: 60px 0 55px;

		&__text {
			width: 490px;
		}

		&__buttons {
			float: right;
		}
	}
}