.b-settings {
	&__half {
		float: left;
		width: 50%;

		&__inner {
			max-width: 310px;
			margin-right: 10px;
		}
	}

	&__line {
		clear: both;
		margin: 60px 0 55px;
		border-top: 1px solid #F2F2F2;
	}

	&__button {
		padding: 50px 0;
		clear: both;
	}

	&__notifications {
		padding: 60px 0;
		display: none;

		&.is-showed {
			display: block;
		}
	}

	&__title {
		font-weight: bold;
		color: #B2B2B2;
		text-transform: uppercase;
		padding-bottom: 25px;
	}

	&__avatar {
		position: relative;
		height: 130px;
		width: 130px;
		border: 1px solid #1D3BA6;
		background: #fff;
		overflow: hidden;
		border-radius: 4px;
		float: left;
		margin-right: 20px;

		.is-avatar-loaded & {
			border-color: transparent;
		}

		&__text {
			line-height: 130px;
			font-weight: bold;
			font-size: 14px;
			text-align: center;
			color: #1D3BA6;

			.is-loaded &, .is-avatar-loaded & {
				display: none;
			}
		}

		&__image {
			height: inherit;
			width: inherit;
			display: none;

			.is-avatar-loaded & {
				display: block;
			}
		}

		&__loader {
			height: inherit;
			width: inherit;
			display: none;
			background: url(../images/loader.gif) center no-repeat;

			.is-loaded & {
				display: block;
			}
		}

		&__input {
			position: absolute;
			opacity: 0;
			cursor: pointer;
			top: 0;
			left: 0;
			font-size: 120px;

			.is-loaded & {
				display: none;
			}
		}

		&__description {
			color: #B2B2B2;
			line-height: 1.5;
		}
	}

	&__buttons {
		clear: both;
		padding-top: 50px;
	}

	&__description {
		margin: 50px 0 25px;
		color: #B2B2B2;
	}

	&__more-link {
		text-transform: uppercase;
		font-weight: bold;
	}
}