.b-text-page {
	padding: 30px 0;

	&__header {
		display: table;
		width: 100%;
		height: 400px;
		background: url(../images/text_page_header.jpg) center /cover;

		&__inner {
			display: table-cell;
			vertical-align: middle;
			color: #fff;
		}

		&__title {
			margin: 0 auto;
			max-width: 700px;
			line-height: 1.2;
			font-size: 62px;
			text-align: center;
			font-weight: bold;
		}
	}

	&__info {
		&__dd {
			color: #4E6575;
			text-transform: uppercase;
			float: left;
			width: 80px;
			font-weight: bold;
		}

		&__dt {
			margin-left: 80px;
			font-weight: bold;
			text-transform: uppercase;
		}
	}

	&__title {
		font-size: 32px;
		font-weight: bold;
		color: #323232;
		margin: 15px 0 30px;
		line-height: 1.2;
	}

	&__content {
		margin-right: 50px;

		p {
			line-height: 1.5;
		}
	}

	&__link-container {
		padding: 70px;
		text-align: center;
	}

	&__link {
		height: 80px;
		line-height: 80px;
		font-size: 26px;
		padding: 0 50px;
	}
}

@media (max-width: @middleViewMaxWidth), (max-height: 1000px) {
	.b-text-page {
		&__header {
			height: 300px;

			&__title {
				font-size: 48px;
			}
		}
	}
}