.b-btn {
	border: 1px solid grey;
	border-radius: 5px;
	display: inline-block;
	font-weight: 700;
	height: 40px;
	line-height: 40px;
	padding: 0 25px;
	text-transform: uppercase;
	font-size: 13px;
	transition: background .4s ease, color .4s ease;
	font-family: "Open Sans",sans-serif;
	white-space: nowrap;
	box-sizing: content-box;
	vertical-align: top;

	.no-touch & {
		cursor: pointer;
	}

	&.is-block {
		width: 100%;
		padding-left: 0;
		padding-right: 0;
		text-align: center;
	}

	&.is-contains {
		position: relative;
		overflow: hidden;

		&.is-green:hover {
			background: none;
			border-color: #17b257;
			color: #17b257;
		}
	}

	&__inner {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		text-align: center;
		opacity: 0;

		&:hover {
			opacity: 1;
			transition: opacity .4s ease;
		}

		.is-green & {
			background: #17BF57;
			border-color: #17BF57;
			color: #fff;
		}
	}

	&.is-green {
		border-color: #17b257;
		color: #17b257;
		background: none;

		&.is-full-colored {
			background: #17B257;
			border-color: #17B257;
			color: #fff;
		}

		&:hover {
			background: #17BF57;
			border-color: #17BF57;
			color: #fff;
		}
	}

	&.is-blue {
		border-color: #1D3BA6;
		color: #1D3BA6;
		background: none;

		&.is-full-colored {
			background: #1338BA;
			border-color: #1338BA;
			color: #fff;
		}

		&:hover {
			background: #1D3BA6;
			border-color: #1D3BA6;
			color: #fff;
		}
	}

	&.is-transparent {
		border-color: transparent;
	}

	[class="icon-download"] {
		font-size: 28px;
	}
}
.b-btn-part {
	padding-right: 17px;
	margin-right: 25px;
	border-right: 1px solid #fff;
	height: 100%;
	display: inline-block;
}
.btn-group {
	font-size: 0;

	> .b-btn {
		border-radius: 0;
		border-left-width: 0;

		&:first-child {
			border-radius: 5px 0 0 5px;
			border-left-width: 1px;
		}

		&:last-child {
			border-radius: 0 5px 5px 0;
		}
	}
}