.jq-checkbox {
	cursor: pointer;
	display: inline-block;
	margin-right: 10px;
	vertical-align: middle;

	> .mark {
		display: block;
		margin-bottom: 4px;
		width: 13px;
		font-size: 10px;
		height: 13px;
		border: 2px solid #B2B2B2;
		color: #B2B2B2;
	}

	> .jq-checkbox-hover {
		border-color: #7F7F7F;
		color: #7F7F7F;
	}
}

.jq-checkbox-checked > .mark {
	position: relative;
	border-color: #7F7F7F;
	color: #7F7F7F;

	&:after {
		content: "u";
		font-family: "digup";
		font-size: 9px;
		width: 13px;
		text-align: center;
		line-height: 14px;
		position: absolute;
		top:0;
		left:0;
	}
}