.b-form {
	&__title {
		color: #b2b2b2;
		font-weight: bold;
		text-transform: uppercase;
		margin-bottom: 28px;
		font-size: 12px;
	}

	&__checkboxes {
		label {
			margin-bottom: 10px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	[type="search"] {
		-webkit-appearance: none;
		border-radius: 0;
		height: 40px;
		width: 100%;
		border: 1px solid #E5E5E5;
		padding: 0 20px;
		box-sizing: border-box;
		outline: none !important;
		color: #323232;
		font-size: 14px;
		font-family: "Open Sans";

		&::placeholder {
			color: #B2B2B2;
		}

		.no-touch &:hover, &:focus {
			border-color: #B2B2B2;
		}
	}

	&__slider {
		position: relative;
		margin: 0 3px;

		&__hint {
			font-size: 11px;
			color: #B2B2B2;
		}

		&__step {
			position: absolute;
			top: 10px;
			left: 0;
			width: 30px;
			margin-left: -15px;
			text-align: center;
			color: #B2B2B2;
			font-weight: bold;
			font-size: 10px;
			padding-top: 11px;

			&.is-highlighted {
				color: #B2B2B2;

				&:after {
					background: #B2B2B2;
				}
			}

			&:after {
				content: '';
				position: absolute;
				width: 2px;
				height: 10px;
				left: 14px;
				top: 0;
				background: #E5E5E5;
			}

			&:nth-child(2) {
				left: 25%;
			}

			&:nth-child(3) {
				left: 50%;
			}

			&:nth-child(4) {
				left: 75%;
			}

			&:nth-child(5) {
				left: 100%;
			}
		}
	}

	&__field-submit {
		position: absolute;
		top: 0;
		height: 40px;
		width: 60px;
		text-align: center;
		line-height: 40px;
		color: #222;
		right: 0;
	}

	&__date {
		&__day {
			float: left;
			width: 95px;
			margin-right: 20px;
		}

		&__month {
			float: left;
			width: 195px;
			margin-right: 20px;
		}

		&__year {
			float: left;
			width: 130px;
		}
	}
}

.b-form-field {
	margin-bottom: 20px;
	position: relative;

	&:last-child {
		margin-bottom: 0;
	}

	&.has-error {
		[type="text"], [type="password"] {
			border-color: red;
		}
	}

	[type="text"], [type="password"] {
		font-family: "Open Sans",sans-serif;
		border: 1px solid #E5E5E5;
		font-size: 14px;
		width: 100%;
		box-sizing: border-box;
		padding: 10px 23px;
		height: 40px;
		line-height: 20px;
		color: #323232;

		&::placeholder {
			color: #B2B2B2;
		}

		&:focus {
			border-color: grey;
		}
	}

	textarea {
		font-family: "Open Sans",sans-serif;
		border: 1px solid #E5E5E5;
		font-size: 14px;
		width: 100%;
		box-sizing: border-box;
		padding: 10px 23px;
		resize: vertical;
	}
}

label {
	display: block;
	cursor: pointer;
}

.has-big-input {
	[type="text"] {
		padding-top: 18px;
		padding-bottom: 18px;
		height: 60px;
		font-size: 18px;
	}

	.ik_select_link {
		line-height: 58px;
		height: 58px;

		&:after {
			height: 58px;
			line-height: 58px;
		}
	}

	.ik_select_dropdown {
		top: 60px;
	}

	.ik_select_link_text {
		font-size: 18px;
	}
}