.ik_select_link {
	border: 1px solid #E5E5E5;
	line-height: 38px;
	height: 38px;
	color: #323232;
	padding: 0 40px 0 21px;
	position: relative;
	background: #fff;

	&.ik_select_link_novalue {
		color: #B2B2B2;
	}

	.no-touch & {
		cursor: pointer;
	}

	&:after {
		content: "e";
		font-family: "digup";
		position: absolute;
		top: 0;
		right: 0;
		height: 28px;
		line-height: 38px;
		width: 40px;
		text-align: center;
		color: #B2B2B2;
		font-size: 0.8em;
	}

	&.ik_select_open {
		color: #B2B2B2;
		box-shadow: 0 1px 3px rgba(0,0,0,.15);
		border: 1px solid #fff;

		&:after {
			content: "r";
		}
	}

	&.ik_select_link_disabled {
		opacity: .5;
	}
}

.ik_select_link_text {
	display: block;
	overflow: hidden;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis
}

.ik_select_dropdown {
	top: 40px;
	box-sizing: border-box;

	ul, li {
		margin: 0;
		padding: 0;
		list-style: none;
	}
}

.ik_select_list {
	background: #fff;
	box-shadow: 0 1px 3px rgba(0,0,0,.15);
}

.ik_select_dropdown p {
	margin: 0;
}

.ik_select_filter_wrap, .ik_select_nothing_found {

}

.ik_select_filter {

}

.ik_select_filter:focus {
	outline: none
}

.ik_select_list .ik_select_option {
	padding: 16px 21px;
	min-height: 18px;
	border-bottom: 1px solid #F7F7F7;
	color: #323232;

	&:last-child {
		border-bottom: 0;
	}

	.no-touch & {
		cursor: pointer;
	}
}

.ik_select_list .ik_select_option.ik_select_hover {
	color: #1338BA;
}

.ik_select_list .ik_select_option_disabled {
	opacity: .5;
}

.ik_select_list .ik_select_optgroup {
	padding: 5px 15px;
}

.ik_select_list .ik_select_optgroup .ik_select_option {
	margin: 0 -15px;
	padding: 0 30px
}

.ik_select_list .ik_select_optgroup_label {

}