.b-auth {
	position: absolute;
	top: 50%;
	left: 50%;
	background: #fff;
	margin: -405px 0 0 -400px;
	width: 800px;

	&__overlay {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background: rgba(0,0,0,.8);
		display: none;
		z-index: 999;
	}

	&__tabs {
		border-bottom: 1px solid #E5E5E5;
		background: #F7F7F7;
		height: 80px;

		&__link {
			height: 80px;
			line-height: 80px;
			text-align: center;
			color: #B2B2B2;
			font-weight: bold;
			width: 50%;
			font-size: 21px;
			float: left;

			&:first-child {
				box-sizing: border-box;
				border-right: 1px solid #E5E5E5;

				.is-registration & {
					background: #FCFCFC;
					color: #323232;
				}
			}

			&:nth-child(2) {
				.is-login & {
					background: #FCFCFC;
					color: #323232;
				}
			}
		}
	}

	&__form {
		width: 590px;
		margin: 0 auto;
		padding: 60px 0 30px;
		display: none;

		&__input {
			width: 100%;
			border: 1px solid #E5E5E5;
			border-radius: 2px;
			height: 60px;
			padding: 18px 30px;
			box-sizing: border-box;
			font: "Open Sans", Arial, sans-serif;
			font-size: 18px;
			color: #323232;

			::placeholder {
				color: #B2B2B2;
			}
		}

		&__label {
			margin-bottom: 20px;
		}

		&__button {

			.b-auth .b-auth__form & {
				font-size: 20px;
				height: 60px;
				line-height: 57px;
			}

			&.is-right {
				float: right;
			}

			&__container {
				padding: 10px 0;
				text-align: center;
			}

			&__text {
				overflow: hidden;
				text-align: left;
				padding: 11px 40px 0 0;
			}
		}
	}

	&__form-login {
		.is-login & {
			display: block;
		}
	}

	&__form-registration {
		.is-registration & {
			display: block;
		}
	}

	&__social {
		border-top: 1px solid #E5E5E5;
		padding: 50px 0;
		text-align: center;

		&__title {
			color: #B2B2B2;
			font-weight: bold;
			font-size: 21px;
			margin-bottom: 45px;
		}
		
		&__link {
			display: inline-block;
			background: #B2B2B2;
			border-right: 1px solid #fff;
			width: 60px;
			height: 60px;
			line-height: 58px;
			font-size: 22px;
			color: #fff;

			.no-touch &:hover {
				background: #1338BA;
			}
		}
	}
}

@media (max-width: @middleViewMaxWidth), (max-height: 800px) {
	.b-auth {
		margin: -295px 0px 0px -300px;
		width: 600px;

		&__social {
			padding: 25px 0px 30px;

			&__title {
				margin-bottom: 25px;
			}

			&__link {
				width: 40px;
				height: 40px;
				line-height: 40px;
			}
		}

		&__form {
			padding: 30px 0 20px;
			width: 390px;

			&__input {
				height: 40px;
				padding: 8px 30px;
				font-size: 14px;
			}

			&__button {
				.b-auth .b-auth__form & {
					font-size: 16px;
					height: 40px;
					line-height: 37px;
				}

				&__text {
					padding-right: 20px;
					padding-top: 0;
					font-size: 12px;
				}
			}
		}
	}
}