.b-bnr {
	&__long {
		height: 150px;
		width: 100%;
		overflow: hidden;
		position: relative;
		background: #F6F03D;
		margin-bottom: 30px;
		
		&:after {
			content: '';
			position: absolute;
			height: 100%;
			width: 50%;
			left: 50%;
			background: #26A9F0;
		}

		&__image {
			z-index: 1;
			position: absolute;
			left: 50%;
			margin-left: -200px;
		}

		&__content {
			position: relative;
			z-index: 2;
			margin: 0 auto;
			width: 1000px;
			color: #000;
			font-size: 24px;
			text-transform: uppercase;
			padding-top: 20px;
			line-height: 1.1;

			&__special {
				color: #26A9F0;
				font-size: 18px;
				margin-top: 10px;
			}
		}
	}
}