.b-blog {
	border-bottom: 1px solid #F7F7F7;

	&__post {
		border-top: 1px solid #F7F7F7;
		padding: 30px 0;
		.clearfix();

		&__date {
			color: #B2B2B2;
			font-size: 11px;
			padding-bottom: 10px;
		}

		&__image {
			float: left;
			margin-right: 20px;
		}

		&__title {
			font-size: 21px;
			font-weight: bold;
			margin-bottom: 10px;
			display: block;

			&__link {
				color: #323232;

				&:hover {
					color: #1D3BA6;
				}
			}
		}

		&__message {
			line-height: 1.42;
			color: #323232;
		}
	}
}