@font-face {
	font-family: 'Eurofurence';
	src: url('../fonts/Eurofurence/eurofurence_bold.eot');
	src: url('../fonts/Eurofurence/eurofurence_bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Eurofurence/eurofurence_bold.woff') format('woff'),
	url('../fonts/Eurofurence/eurofurence_bold.ttf') format('truetype'),
	url('../fonts/Eurofurence/eurofurence_bold.svg#eurofurence_bold') format('svg');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/Open_Sans_Regular/OpenSans-Regular-webfont.eot');
	src: url('../fonts/Open_Sans_Regular/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Open_Sans_Regular/OpenSans-Regular-webfont.woff') format('woff'),
	url('../fonts/Open_Sans_Regular/OpenSans-Regular-webfont.ttf') format('truetype'),
	url('../fonts/Open_Sans_Regular/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/Open_Sans_Bold/OpenSans-Bold-webfont.eot');
	src: url('../fonts/Open_Sans_Bold/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Open_Sans_Bold/OpenSans-Bold-webfont.woff') format('woff'),
	url('../fonts/Open_Sans_Bold/OpenSans-Bold-webfont.ttf') format('truetype'),
	url('../fonts/Open_Sans_Bold/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: "digup";
	src:url("../fonts/icons/digup.eot");
	src:url("../fonts/icons/digup.eot?#iefix") format("embedded-opentype"),
	url("../fonts/icons/digup.woff") format("woff"),
	url("../fonts/icons/digup.ttf") format("truetype"),
	url("../fonts/icons/digup.svg#digup") format("svg");
	font-weight: normal;
	font-style: normal;
}


[data-icon]:before {
	font-family: "digup" !important;
	content: attr(data-icon);
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
	font-family: "digup" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.is-vertical-icon {
	display: inline-block;
	vertical-align: middle;
}

.icon-search:before {
	content: "a";
}
.icon-menu:before {
	content: "b";
}
.icon-login:before {
	content: "c";
}
.icon-arrow-right:before {
	content: "d";
}
.icon-refresh:before {
	content: "f";
}
.icon-arrow-left:before {
	content: "g";
}
.icon-comments:before {
	content: "h";
}
.icon-views:before {
	content: "i";
}
.icon-twitter:before {
	content: "j";
}
.icon-vk:before {
	content: "k";
}
.icon-facebook:before {
	content: "l";
}
.icon-ok:before {
	content: "m";
}
.icon-plus:before {
	content: "n";
}
.icon-stat:before {
	content: "o";
}
.icon-angle-down:before {
	content: "e";
}
.icon-angle-left:before {
	content: "p";
}
.icon-angle-right:before {
	content: "q";
}
.icon-angle-up:before {
	content: "r";
}
.icon-collection:before {
	content: "s";
}
.icon-market:before {
	content: "t";
}
.icon-close:before {
	content: "u";
}
.icon-list-as-list:before {
	content: "v";
}
.icon-list-as-cards:before {
	content: "w";
}
.icon-eye:before {
	content: "x";
}
.icon-pause:before {
	content: "y";
}
.icon-play:before {
	content: "z";
}
.icon-magnifier:before {
	content: "B";
}
.icon-download:before {
	content: "A";
}
.icon-long-arrow-left:before {
	content: "C";
}
.icon-user:before {
	content: "D";
}
.icon-delete:before {
	content: "E";
}
.icon-arrow-down:before {
	content: "F";
}
.icon-arrow-up:before {
	content: "G";
}
.icon-update:before {
	content: "H";
}
.icon-quote:before {
	content: "I";
}
.icon-message:before {
	content: "J";
}