.b-footer {
	padding: 55px 0 50px;
	height: 100px;
	background: #f7f7f7;
	border-top: 1px solid #e9e9e9;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;

	&__inner {
		width: 1400px;
		margin: 0 auto;
	}

	&__text {
		color: #B2B2B2;
		line-height: 1.64;
	}

	&__social {
		float: right;

		&__link {
			width: 39px;
			height: 40px;
			text-align: center;
			line-height: 40px;
			float: right;
			border-left: 1px solid #e9e9e9;
			background: #323232;
			color: #f7f7f7;
			font-size: 16px;
			transition: background-color .3s ease;

			.no-touch &:hover {
				background: #1D3BA6;
			}
		}
	}

	&__links {
		padding-bottom: 28px;

		&__link {
			text-transform: uppercase;
			font-weight: bold;
			margin-right: 30px;
			color: #323232;

			.no-touch &:hover {
				color: darken(#323232, 20%);
			}
		}
	}
}

@media (max-width: @middleViewMaxWidth) {
	.b-footer {
		&__inner {
			width: 1000px;
		}
	}
}