.b-header {
	height: 55px;
	background: #000;
	position: relative;
	z-index: 1;

	&.is-main-page {
		background: transparent;
		position: absolute;
		top: 11px;
		left: 0;
		width: 100%;
	}

	&__menu {
		width: 285px;
		float: right;

		&.is-open {
			background: #000;

			.b-header__menu {
				&__user {
					background: #fff;
					color: #1D3BA6;
				}
			}
		}

		&__link {
			display: block;
			font-weight: bold;
			color: #fff;
			height: 55px;
			overflow: hidden;

			&__menu-button {
				padding: 0 15px;
				float: right;
				font-size: 18px;
				line-height: 55px;

				&__img {
					vertical-align: top;
				}
			}

			&__text {
				display: inline-block;
				line-height: 55px;
				padding: 0 30px;
				overflow: hidden;
			}

			&__login-icon {
				border-left: 1px solid #303030;
				border-right: 1px solid #303030;
				line-height: 55px;
				font-size: 22px;
				height: 55px;
				width: 55px;
				vertical-align: top;
				display: inline-block;
				text-align: center;
				box-sizing: border-box;

				.is-main-page & {
					border: 0;
				}
			}
		}

		&__container {
			height: 0;
			overflow: hidden;
			position: absolute;
			top: 55px;
			right: 0;
			width: 230px;
			box-shadow: 0 2px 3px rgba(0,0,0,.15);
			background: #fff;

			.is-open & {
				height: auto;
			}

			&__link {
				border-top: 1px solid #f7f7f7;
				padding: 0 15px 0 30px;
				font-size: 12px;
				font-weight: bold;
				height: 54px;
				line-height: 54px;
				color: #323232;
				display: block;
				text-transform: uppercase;
				overflow: hidden;

				.no-touch &:hover {
					color: #1D3BA6;
				}

				&.is-blue {
					.no-touch &:hover {
						color: #fff;
					}
					background: #1D3BA6;
					color: #fff;
				}

				&__icon {
					.icon-plus {
						font-size: 16px;
					}
					float: right;
					min-width: 18px;
					text-align: center;
				}
			}
		}
	}

	&__inner {
		margin: 0 auto;
		width: 1400px;
		position: relative;
	}

	&__search {

		button {
			&.is-highlighted {
				color: #fff;
			}
			background: transparent;
			border: 0;
			color: #4d4d4d;
			font-size: 14px;
			width: 60px;
			vertical-align: middle;
			padding: 0;
		}

		.icon-search {
			font-size: 19px;
		}

		input[type="submit"] {
			display: none;
		}

		input[type="search"] {
			border-radius: 0;
			-webkit-appearance: none;
			outline: none !important;
			font-family: "Open Sans";
			text-transform: uppercase;
			background: transparent;
			border: 0;
			font-size: 14px;
			padding: 0 10px 0 0;
			box-sizing: border-box;
			width: 1024px;
			font-weight: bold;
			color: #fff;
			height: 55px;

			&::placeholder {
				color: #4d4d4d;
			}
		}
	}
}

.top-menu {
	width: 1400px;
	margin: 0 auto;
	line-height: 80px;

	.is-main-page & {
		line-height: 55px;
	}

	&__wrapper {
		border-bottom: 1px solid #f2f2f2;

		.is-main-page & {
			border: 0;
		}
	}

	&__logo {
		width: 253px;
		float: left;

		> img {
			vertical-align: middle;
		}
	}

	&__links {
		font-weight: bold;
		height: 80px;
		border-left: 1px solid #f2f2f2;
		overflow: hidden;

		.is-main-page & {
			border: 0;
			height: 55px;
		}

		&__link {
			color: #323232;
			font-weight: bold;
			text-transform: uppercase;
			display: inline-block;
			padding: 0 33px;

			&.is-active, .no-touch &:hover {
				color: #1338BA;
			}

			.is-main-page & {
				color: #fff;
			}

			[class^="icon"] {
				vertical-align: middle;
				font-size: 22px;
				margin-right: 18px;
			}
		}
	}
}
.is-white-logo {
	display: none;
}
.is-main-page {
	.is-white-logo {
		display: inline-block;
	}
	.is-black-logo {
		display: none;
	}
}

@media (max-width: @middleViewMaxWidth) {
	.b-header {
		&__inner {
			width: 1000px;
		}
		&__search input[type="search"] {
			width: 651px;
		}
		&__menu {
			&__link {
				&__text {
					font-size: 12px;
				}
			}
		}
	}

	.top-menu {
		width: 1000px;

		&__logo {
			.is-main-page & {
				width: 170px;
			}
		}

		&__links {
			.is-main-page & {
				padding-left: 40px;
			}

			&__link {
				padding: 0 30px;

				.is-main-page & {
					vertical-align: top;
					font-size: 12px;
					padding: 0 10px;

					> [class^="icon"] {
						vertical-align: top;
					}
				}
			}
		}
	}

	.is-main-page {
		[data-open-login] {
			width: 150px;
			float: right;

			.b-header__menu__link__text {
				padding: 0;
			}
		}
	}
}