.b-item-list {

	&__el {
		padding: 13px 0;
		height: 122px;

		&:nth-child(2n+2) {
			background: #F7F7F7;
		}

		&__cover {
			width: 122px;
			height: 100%;
			float: left;

			&__img {
				width: 100%;
			}
		}

		&__name-and-ratings {
			margin: 0 16px;
			position: relative;
			float: left;
			height: 100%;
			width: 230px;

			&__ratings {
				position: absolute;
				bottom: -4px;
				left: 0;
				width: 100%;
				font-size: 12px;
				font-weight: bold;
				color: #B2B2B2;

				&__rating {
					display: inline-block;
					margin-right: 15px;

					> [class^="icon"] {
						font-size: 11px;
						vertical-align: middle;
					}

					&:last-child {
						margin-right: 0;
					}
				}
			}
		}

		&__info {
			font-weight: bold;
			text-transform: uppercase;
			font-size: 12px;
			float: left;
			margin-right: 16px;
			max-width: 170px;

			&__data {
				margin-bottom: 6px;
			}

			&__sym {
				color: #B2B2B2;
				display: inline-block;
				margin-right: 16px;
			}
		}

		&__title {
			font-weight: bold;
			font-size: 14px;
			margin-bottom: 5px;

			&__link {
				color: #323232;

				.no-touch &:hover {
					color: #1338BA;
				}
			}
		}

		&__artist {
			text-transform: uppercase;
			font-weight: bold;
			color: #B2B2B2;
		}

		&__button {
			overflow: hidden;
			text-align: right;
			padding-right: 16px;
		}
	}
}