.b-item-short-list {
	.clearfix();
	margin-bottom: 20px;

	&__el {
		float: left;
		width: 163px;

		.no-touch &:hover {
			.b-item-short-list__el__title {
				color: #1338BA;
			}
		}

		&__img {
			width: 100%;
			height: 163px;
			margin-bottom: 19px;
		}

		&__title, &__artist {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			padding: 0 10px;
			font-weight: bold;
		}

		&__title {
			color: #323232;
			margin-bottom: 5px;
		}

		&__artist {
			text-transform: uppercase;
			color: #B2B2B2;
			padding-bottom: 20px;
		}
	}
}