.b-item {
	position: relative;
	width: 250px;

	&.is-big-item {
		width: 500px;

		.b-item {

			&__img {
				height: 500px;
			}

			&__text {
				height: 90px + 25px;
				max-width: none;
				box-sizing: border-box;
				width: 100%;

				&__name {
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					font-size: 26px;
				}
			}

			&__overlay {
				width: 500px;
				height: 500px;
				font-size: 14px;
				padding-top: 180px;
				
				&__sym {
					width: 150px;
				}

				&__data {
					margin-bottom: 16px;
				}
			}
		}
	}

	.no-touch &:hover {
		.b-item__overlay {
			opacity: 1;
		}
	}

	&__overlay {
		line-height: 1.1;
		transition: opacity 0.3s ease;
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
		background: rgba(29, 59, 166, 0.9);
		color: #fff;
		padding: 25px;
		box-sizing: border-box;
		width: 250px;
		height: 250px;
		font-size: 12px;
		font-weight: bold;
		text-transform: uppercase;

		&__sym {
			display: inline-block;
			margin-right: 16px;
		}

		&__data {
			margin-bottom: 12px;
		}

		&__button-wrapper {
			.b-item__button {
				border-color: #fff;
				color: #fff;
			}
			position: absolute;
			bottom: 25px;
			left: 30px;
		}
	}

	&__img {
		background-size: 102%;
		background-position: center;
		height: 250px;
		width: 100%;
	}

	&__text {
		border-left: 1px solid #F2F2F2;
		border-bottom: 1px solid #F2F2F2;
		border-right: 1px solid #F2F2F2;
		padding: 25px 20px 0;
		height: 70px;
		font-weight: bold;
		max-width: 208px;
		overflow: hidden;

		&__name {
			color: #323232;
			padding-bottom: 10px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		&__hint {
			text-transform: uppercase;
			color: #B2B2B2;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

	&__stat {
		padding: 0 20px;
		height: 75px;
		font-weight: bold;
		border-top: 1px solid #F2F2F2;
		border-left: 1px solid #F2F2F2;
		box-sizing: border-box;
		color: #323232;

		[class^="icon"] {
			margin-right: 7px;
			font-size: 16px;
			vertical-align: top;
		}

		&__rating, &__plus, &__ok {
			line-height: 1;
			margin-right: 40px;
			display: inline-block;

			.icon-ok {
				color: #F05F6A;
			}
		}

		&__right {
			float: right;
		}

		&__icon {
			display: block;
			height: 34px;
			position: relative;
			overflow: hidden;
			
			&__rating {
				width: 4px;
				background: #F67E3E;
				display: inline-block;
				vertical-align: bottom;
				margin-left: 3px;

				&:nth-child(1) {
					margin-left: 0;
					height: 14px;
				}

				&:nth-child(2) {
					height: 9px;
				}

				&:nth-child(3) {
					height: 19px;
				}

				&:nth-child(4) {
					height: 14px;
				}
			}

			&__plus {
				background: #17b257;

				&:nth-child(1) {
					position: absolute;
					height: 24px;
					width: 4px;
					bottom: 10px;
					margin-left: -2px;
				}

				&:nth-child(2) {
					display: block;
					width: 24px;
					height: 4px;
					margin-top: 10px;
				}
			}
		}
	}

	&__button {
		display: inline-block;
		border: 1px solid #17B257;
		color: #17B257;
		border-radius: 5px;
		font-weight: bold;
		height: 40px;
		line-height: 40px;
		padding: 0 25px;

		.b-btn__inner {
			background: #fff;
			color: #1D3BA6;
			font-size: 28px;
		}
	}
}