.b-notifications {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2;

	&__inner {
		padding: 0 20px;
		max-width: 1400px;
		margin: 0 auto;
		position: relative;
	}

	&__list {
		position: absolute;
		width: 250px;
		top: 20px;
		left: 0;
	}

	&__message {
		display: none;
		padding: 25px;
		color: #323232;
		background: #FCFCFC;
		margin-bottom: 10px;
		box-shadow: 0 2px 4px rgba(0,0,0,.15);
		border-radius: 2px;

		&__ok {
			float: left;
			color: #17B257;
			font-size: 20px;
		}

		&__fail {
			float: left;
			color: #F05F6A;
			font-size: 20px;
		}

		&__text {
			margin-left: 35px;
			line-height: 1.57;
			font-weight: bold;
		}

		&__user {
			text-transform: uppercase;
			color: #70818E;
		}
	}
}