.b-page {
	.clearfix();

	&__inner {
		width: 1000px;
		margin: 0 auto;
		.clearfix();

		&.is-center-text {
			text-align: center;
		}
	}

	&__header {
		background: #F7F7F7;
		padding: 20px 0 0;

		&:hover {
			.b-page__header__cover__inner {
				opacity: 1;
			}
		}

		&__cover {
			margin-top: 7px;
			width: 250px;
			float: left;
			position: relative;

			&__inner {
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				opacity: 0;
				transition: opacity .3s ease;
				background: rgba(16, 56, 186, 0.8);
				padding-top: 90px;
				box-sizing: border-box;
				text-align: center;

				&__link {
					display: inline-block;
					text-align: center;
					width: 48%;

					&__inner {
						display: inline-block;
						color: #fff;
						border: 1px solid #fff;
						border-radius: 100%;
						width: 50px;
						height: 50px;
						line-height: 50px;
						font-size: 20px;
						margin: 0 15px;
						transition: background .3s ease;
					}

					&__text {
						margin-top: 20px;
						text-align: center;
						color: #fff;
						font-weight: bold;
						text-transform: uppercase;
					}

					&:hover, &.is-selected {
						.b-page__header__cover__inner__link__inner {
							background: #fff;
							color: #1038BA;
						}
					}
				}

				> .icon-magnifier {
					position: absolute;
					bottom: 5px;
					right: 9px;
					color: #fff;
				}
			}

			&__img {
				display: block;
			}
		}

		&__main {
			overflow: hidden;
			padding: 0 28px;
		}

		&__title {
			padding: 0;
			margin: 0 0 10px;
			font-size: 26px;
			font-weight: bold;
			line-height: 1.1;
		}

		&__subtitle {
			color: #B2B2B2;
			font-weight: bold;
			text-transform: uppercase;
			margin-bottom: 30px;
		}

		&__hint {
			font-weight: bold;
			color: #B2B2B2;
			margin-bottom: 15px;
			text-transform: uppercase;
		}

		&__types {
			font-weight: bold;
			margin-bottom: 15px;
			text-transform: uppercase;
		}

		&__stat-and-buttons {
			width: 239px;
			min-height: 250px;
			padding: 10px 40px 30px;
			float: right;
			border-left: 1px solid #E5E5E5;
			position: relative;

			&__stat {
				font-weight: bold;
				text-align: center;

				.b-item__stat__plus, .b-item__stat__rating {
					margin-right: 55px;
				}

				.b-item__stat__ok {
					margin-right: 0;
				}

				[class*="icon"] {
					font-size: 24px;
				}
			}

			&__buttons {
				position: absolute;
				bottom: 30px;
				left: 0;
				padding: 0 40px;
				width: 100%;
				box-sizing: border-box;

				[class*="icon"] {
					font-size: 1.8em;
					vertical-align: top;
					margin-right: 10px;
					display: inline-block; // fix for chrome
				}

				&__button {
					margin-top: 20px;
				}
			}
		}

		+ .b-page__inner {
			padding-top: 30px;
		}
	}

	&__params {
		line-height: 30px;
		font-weight: bold;
		text-transform: uppercase;

		&__dt {
			color: #B2B2B2;
			float: left;
			clear: left;
			width: 156px;
		}
		&__dd {
			color: #323232;
			overflow: hidden;
		}
	}

	&__main-title {
		font-size: 32px;
		font-weight: bold;
		padding: 50px 0;
		text-align: center;
		max-width: 1000px;
		margin: 0 auto;
	}

	&__title {
		font-size: 26px;
		line-height: 75px;
		font-weight: bold;
		color: #B2B2B2;
		margin-top: 30px;

		&:first-child {
			margin-top: 0;
		}

		&__link {
			font-size: 14px;
			float: right;
			text-transform: uppercase;

			> .icon-arrow-right {
				vertical-align: middle;
			}
		}
	}

	&__content {
		float: left;
		width: 690px;
	}

	&__info {
		margin-left: 730px;
		overflow: hidden;

		&__img {
			width: 100%;
			display: block;
		}

		&__block {
			padding: 30px 30px 25px;
			border: 1px solid #F2F2F2;
			.clearfix();

			& + & {
				border-top: 0;
			}

			+ .b-page__info__all {
				border-top: 0;
			}

			&:last-child {
				margin-bottom: 40px;
			}
		}

		&__block-without-padding {
			padding: 40px 0 35px;
			.clearfix();
		}

		&__title {
			font-weight: bold;
			text-transform: uppercase;
			margin-bottom: 10px;
			color: #B2B2B2;
		}

		&__link {
			color: #1D3BA6;
			text-transform: uppercase;
			font-weight: bold;

			&__block {
				margin-bottom: 5px;

				&:last-child {
					margin-bottom: 0;
				}
			}

			> .icon-arrow-right {
				vertical-align: middle;
			}
		}

		&__social {
			float: left;
			width: 50%;
		}

		&__wish-list {
			.clearfix();
			min-height: 165px;

			&__cover {
				position: relative;
				padding: 10px 0 0 10px;
				margin-right: 24px;
				float: left;

				> img {
					width: 122px;
					height: 122px;

					&:nth-child(2) {
						position: absolute;
						top: 5px;
						left: 5px;
					}

					&:nth-child(3) {
						position: absolute;
						top: 0;
						left: 0;
					}
				}
			}

			&__title {
				font-weight: bold;
				color: #323232;
				margin-bottom: 5px;
				display: block;

				&:hover {
					color: #1D3BA6;
				}
			}

			&__artist {
				color: #B2B2B2;
				text-transform: uppercase;
				margin-bottom: 5px;
			}

			&__type {
				color: #B2B2B2;
				font-size: 11px;
			}
		}

		&__all {
			line-height: 50px;
			height: 50px;
			font-weight: bold;
			display: block;
			text-align: center;
			text-transform: uppercase;
			border-bottom: 1px solid #F2F2F2;
			border-top: 1px solid #F2F2F2;
			margin-bottom: 60px;
		}
	}

	&__review {
		&__link {
			color: #323232;

			&:hover {
				color: #1D3BA6;
			}
		}

		&__date {
			color: #B2B2B2;
			font-size: 11px;
			margin-top: 10px;
			text-transform: uppercase;
		}
	}
	
	&__line {
		background: #F7F7F7;
		border-top: 1px solid #E5E5E5;
		border-bottom: 1px solid #E5E5E5;
		height: 80px;
		line-height: 80px;
		color: #B2B2B2;

		&__link {
			font-size: 20px;
			font-weight: bold;

			a& {
				color: #1D3BA6;

				&:hover {
					color: #1338BA;
				}
			}
		}

		&__tabs {
			text-align: center;
		}

		&__tab {
			display: inline-block;
			width: 300px;
			text-align: center;
			border-left: 1px solid #E5E5E5;
			color: #B2B2B2;
			font-weight: bold;
			font-size: 21px;

			&.is-selected {
				color: #1D3BA6;
				background: #FCFCFC;
			}

			&:last-child {
				border-right: 1px solid #E5E5E5;
			}

			.no-touch &:hover {
				background: #FCFCFC;
			}
		}

		.icon-long-arrow-left {
			font-size: 40px;
			vertical-align: middle;
			margin: 0 27px;
			position: relative;
			top: 2px;

			&.is-blue {
				color: #1D3BA6;
			}
		}
	}
}