.b-overlay {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(0,0,0,.8);
	display: none;
	z-index: 999;
}

.b-popup-cover {
	position: fixed;
	top: 50%;
	left: 50%;
	margin: -250px 0 0 -250px;
	width: 500px;
	height: 500px;
	z-index: 1000;
	opacity: 0;
}
.b-popup {
	width: 1000px;
	background: #fff;
	margin: 160px auto;

	&__overlay {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		min-height: 100%;
		background: rgba(0,0,0,.8);
		display: none;
		z-index: 999;
	}

	&__header {
		padding: 30px 105px;
		min-height: 100px;

		&__avatar {
			float: left;
			border-radius: 100%;
			overflow: hidden;
			width: 100px;
			height: 100px;
			margin-right: 30px;

			> img {
				width: 100%;
			}
		}

		&__link {
			float: right;
			padding-top: 30px;
			margin-left: 30px;
		}

		&__name {
			padding-top: 20px;
			font-weight: bold;
			font-size: 26px;
			line-height: 1.2;
			margin-bottom: 5px;

			& + & {
				padding-top: 0;
			}
		}

		&__date {
			text-transform: uppercase;
			color: #B2B2B2;
			font-size: 11px;
		}

		&__user {
			font-weight: bold;
			text-transform: uppercase;
			color: #B2B2B2;
		}
	}

	&__cover {
		width: 100%;
		display: block;
	}

	&__title {
		padding: 30px 150px;
		font-size: 26px;
		font-weight: bold;
		color: #323232;
	}

	&__content {
		padding: 0 150px 30px;
		position: relative;

		& + & {
			border-top: 1px solid #f7f7f7;
			padding-top: 30px;
		}

		&:last-child {
			padding-bottom: 60px;
		}
	}

	&__text {
		line-height: 1.57;
		font-size: 19px;
	}

	&__social {
		position: absolute;
		left: 55px;
		top: 0;

		&__link {
			display: block;
			width: 40px;
			height: 39px;
			text-align: center;
			line-height: 40px;
			border-top: 1px solid #e9e9e9;
			background: #E5E5E5;
			color: #f7f7f7;
			font-size: 16px;
			transition: background-color .3s ease;

			.no-touch &:hover {
				background: #323232;
			}
		}
	}

	&__items {
		text-align: center;
		background: #F7F7F7;
		padding: 40px 0;
	}

	&__list {
		padding: 40px 0;
		border-top: 1px solid #F7F7F7;
	}

	&__item {
		background: #fff;
		text-align: left;
		display: inline-block;
		margin: 0 10px 20px;

		.no-touch &:hover {
			box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
		}
	}
}