.b-review {
	padding: 30px 0;
	border-bottom: 1px solid #F7F7F7;
	max-width: 690px;
	margin: 0 auto;

	&:last-child {
		border-bottom: 0;
	}

	&__header {
		font-size: 11px;
		color: #B2B2B2;
		text-transform: uppercase;
	}

	&__avatar {
		width: 55px;
		height: 55px;
		float: left;
		background: #ccc;

		&__img {
			display: block;
			width: 100%;
		}
	}

	&__content {
		margin-left: 70px;
	}

	&__text {
		line-height: 1.42;
		margin-top: 10px;
		max-width: 520px;
	}
}