@middleViewMaxWidth: 1500px;

html {
	padding: 0;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	height: 100%;
}
// Баг фикс для мобильного Хрома и мобильного сафари.
// https://bugs.webkit.org/show_bug.cgi?id=FontBoosting
* {
	max-height: 1000000px;
}
body {
	padding: 0;
	margin: 0;
	min-height: 100%;
	height: 100%;
	position: relative;
	color: #323232;
	overflow-y: scroll; // fix for chrome
}
h2 {
	padding: 0;
	margin: 0;
}
.b-content {
	padding-bottom: 205px;
}
.b-main-container {
	position: relative;
	min-height: 100%;
}
a {
	color: #1D3BA6;
	text-decoration: none;
}

p {
	margin: 0 0 1.2em;
}
.is-hidden {
	display: none;
}

.b-more-link {
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	clear: both;
	padding: 60px 0;
	height: 22px;
	display: block;

	> .icon-arrow-down {
		display: inline-block;
		vertical-align: middle;
	}

	.is-loading & {
		display: none;
	}
}

.b-loader {
	clear: both;
	background: url(../images/loader.gif) no-repeat center;
	height: 142px;
	display: none;

	.is-loading & {
		display: block;
	}
}

.b-scroll {
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;

	&__wrapper {
		overflow: hidden;
		position: relative;
	}

	&__scroll {
		position: absolute;
		top: 0;
		right: 2px;
		background: rgba(0,0,0,.3);
		width: 6px;
		border-radius: 3px;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

		.no-touch &:hover, &.is-active {
			background: rgba(0,0,0,.5);
		}
	}
}