.b-sellers {
	margin-bottom: 60px;
	border-bottom: 1px solid #f2f2f2;

	&__el {
		padding: 15px 0 30px;
		.clearfix;
		border-top: 1px solid #f2f2f2;
		font-size: 12px;
		display: block;
		color: #323232;

		&:nth-child(2n+2) {
			background: #F5F6F7;
		}

		&__avatar {
			float: left;
			width: 55px;
			height: 55px;
			padding: 0 0 0 22px;
			margin-right: 15px;
			line-height: 1.1;

			&__img {
				width: 100%;
			}
		}

		&__name-and-rating {
			float: left;
			width: 115px;
			font-weight: bold;
			margin-right: 15px;

			.icon-stat {
				display: inline-block;
				vertical-align: middle;
			}
		}

		&__props {
			width: 240px;
			float: left;
			font-weight: bold;
			text-transform: uppercase;
			margin-right: 10px;

			&__dt {
				float: left;
				width: 80px;
				color: #B2B2B2;
				margin-right: 10px;
			}

			&__dd {
				overflow: hidden;
				margin-bottom: 5px;
			}
		}

		&__props2 {
			width: 120px;
			float: left;
			font-weight: bold;
			text-transform: uppercase;
			margin-right: 10px;

			&__dt {
				float: left;
				width: 23px;
				color: #B2B2B2;
			}

			&__dd {
				overflow: hidden;
				margin-bottom: 5px;
			}
		}

		&__name {
			text-transform: uppercase;
			margin-bottom: 5px;
			font-weight: bold;

			&__link {
				color: #323232;

				.no-touch &:hover {
					color: #1338BA;
				}
			}
		}

		&__rating {
			color: #B2B2B2;
		}

		&__button {
			float: right;
			width: 140px;
			padding-right: 15px;
		}

		&:hover {
			.b-sellers__el__count-and-price {
				border-color: #e5e5e5;
				background: #fff;

				&:after {
					content: "e";
				}
			}
		}

		&__count-and-price {
			position: relative;
			margin: 0 205px 0 602px;
			border: 1px solid transparent;
			color: #323232;
			z-index: 100;

			.no-touch & {
				cursor: pointer;
			}

			&:after {
				color: #b2b2b2;
				font-family: digup;
				font-size: 0.8em;
				height: 28px;
				line-height: 38px;
				position: absolute;
				right: 0;
				text-align: center;
				top: 0;
				width: 40px;
			}

			&__value {
				padding: 0 40px 0 16px;
				height: 38px;
				line-height: 38px;
			}

			&__list {
				position: absolute;
				top: 39px;
				left: 0;
				width: 100%;
				background: #fff;
				box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
				display: none;

				&__el {
					border-bottom: 1px solid #f7f7f7;
					color: #323232;
					min-height: 18px;
					padding: 16px;

					&:hover {
						color: #1338BA;
					}
				}
			}

			&.is-open {
				border-color: #e5e5e5;
				z-index: 500;
				background: #fff;

				&:after {
					content: "r" !important;
				}
				.b-sellers__el__count-and-price__list {
					display: block;
				}
			}
		}

		&__price {
			float: left;
			width: 85px;
		}
	}
}