.b-stream {
	padding: 25px 0;

	&__half {
		width: 488px;
		float: left;

		&:first-child {
			margin-right: 24px;
		}
	}

	&__overlay {
		height: 100%;
		position: absolute;
		background: rgba(29, 59, 166, 0.9);
		text-align: center;
		text-transform: uppercase;
		color: #fff;
		font-weight: bold;
		width: 100%;
		z-index: 1;
		opacity: 0;
		top: 0;
		transition: opacity .3s ease;

		&:after {
			content: '';
			display: inline-block;
			vertical-align: middle;
			width: 0;
			height: 100%;
		}

		&__inner {
			vertical-align: middle;
			display: inline-block;
			width: 98%;
		}
	}

	&__block {
		background: #fff;
		border: 1px solid #F2F2F2;
		transition: box-shadow .3s ease;
		display: block;
		margin-bottom: 20px;

		&:hover {
			box-shadow: 0 0 5px rgba(0,0,0,.15);

			.b-stream__overlay {
				opacity: 1;
			}
		}

		&__header {
			padding: 40px 18px 25px;

			&__link {
				float: right;
				text-transform: uppercase;
				font-weight: bold;
				color: #1D3BA6;

				> [class^="icon"] {
					position: relative;
					top: 1px;
					vertical-align: middle;
					display: inline-block;
				}
			}

			&__sign {
				float: left;
				width: 32px;
				font-size: 18px;

				> .icon-update {
					color: #F67E3E;
				}

				> .icon-quote {
					color: #F05F6A;
				}

				> .icon-eye {
					color: #17B257;
				}
			}

			&__title {
				color: #7F7F7F;
				font-weight: bold;
				text-transform: uppercase;
				overflow: hidden;

				&__style {
					color: #323232;
				}

			}

			&__sub-title {
				margin-top: 10px;
				color: #B2B2B2;
				font-size: 11px;
				font-weight: normal;
			}
		}
	}

	&__mini-items {
		.clearfix();
		position: relative;

		&__img {
			float: left;
			width: 25%;
		}
	}

	&__items {
		width: 100%;
		overflow: hidden;
		text-align: center;

		&.has-three {
			text-align: left;
		}

		&__inner {
			width: 102%;
			position: relative;
		}

		&__el {
			width: 33%;
			display: inline-block;
			text-align: left;

			&__img {
				width: 100%;
			}

			&__name {
				padding: 25px 0 0;
				margin: 0 14px;
			}

			&__artist {
				padding: 0 0 25px;
				margin: 0 14px;
			}
			
			&__overlay {
				height: 164px;
			}

			&__next-container {
				display: inline-block;
				position: relative;
			}

			&__next-inner {
				position: absolute;
				top: 2px;
				left: 0;
			}
		}
	}

	&__text {
		padding: 0 50px 30px;
		color: #323232;
	}

	&__one {
		&__img-container {
			float: left;
			width: 250px;
			height: 250px;
			position: relative;
		}

		&__data {
			margin-left: 280px;
			text-align: left;
		}

		&__image-container {
			position: relative;

			&__image {
				display: block;
				max-width: 100%;
			}
		}
	}

	// Должен быть последним
	&__name {
		font-weight: bold;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		color: #323232;
		padding-bottom: 5px;
	}

	// Должен быть последним
	&__artist {
		text-transform: uppercase;
		font-weight: bold;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		color: #B2B2B2;
	}
}