.b-tracks {
	border-bottom: 1px solid #F2F2F2;

	&__track {
		border-top: 1px solid #F2F2F2;
		display: block;
		.clearfix();

		&:nth-child(2n+2) {
			background: #fcfcfc;
		}

		.no-touch &:hover {
			background: #f7f7f7;

			.b-tracks__track__play__circle {
				color: #fff;
				background: #B2B2B2;
			}
		}

		&__num {
			color: #B2B2B2;
			width: 46px;
			text-align: center;
			float: left;
			padding: 13px 0;
		}

		&__artist {
			width: 160px;
			padding: 13px 10px 13px 0;
			color: #B2B2B2;
			font-weight: bold;
			float: left;
		}

		&__title {
			width: 355px;
			padding: 13px 10px 13px 0;
			color: #323232;
			font-weight: bold;
			float: left;
		}

		&__time {
			padding: 13px 0;
			width: 50px;
			text-align: center;
			color: #B2B2B2;
			float: left;
		}

		&__play {
			float: left;
			padding: 7px 0;
			text-align: center;

			&__circle {
				width: 26px;
				height: 26px;
				text-align: center;
				display: block;
				line-height: 27px;
				border-radius: 100%;
				color: #7F7F7F;
				font-size: 11px;
				border: 1px solid #B2B2B2;

				> .icon-pause {
					display: none;
					font-size: 12px;

					.is-played & {
						display: inline-block;
					}
				}

				.icon-play {
					display: inline-block;
					transform: translateX(1px);
					.is-played & {
						display: none;
					}
				}
			}
		}
	}
}